* {
    box-sizing: border-box;
    transition: 0.5s;
    scroll-behavior: smooth;
}
body {
    --bg-bkp-01 : rgb(0,0,0);
    --bg-01 : linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(24,62,59,1) 33%, rgba(21,107,142,1) 100%);
    --bg-bkp-02 : rgb(17,23,28);
    --bg-02 : linear-gradient(0deg, rgba(17,23,28,1) 0%, rgba(61,85,84,1) 33%, rgba(140,149,153,1) 100%);
    --bg-bkp-03: rgb(17,23,28);
    --bg-03 : linear-gradient(0deg, rgba(17,23,28,1) 0%, rgba(22,37,36,1) 39%, rgba(53,68,75,1) 100%);
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('../includes/imgs/body-bg-002.jpg');
    /* background-repeat: no-repeat; */
    background-size: cover;
    display: grid;
    grid-template-areas: ". nav ." ". form ." ". . .";
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-columns: 1fr 10fr 1fr;
    color: #ffffff;
}
a,
a:link,
a:visited
{
    color: #ffffff;
}
body > header {
    grid-area: nav;
}
body > header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
form.newQuestionSegment * {
    border-radius: 0.5em;
}
form.newQuestionSegment {
    grid-area: form;
    padding: 2rem;
    display: grid;
    grid-template-areas: "nav form form" "nav form form" "nav . btn";
    grid-template-rows: 1fr 10fr auto;
    grid-template-columns: auto 10fr 1fr;
    grid-gap: 1em;
    background: var( --bg-bkp-03 );
    background: var( --bg-03 );
    border-radius: 0.5em;
    box-shadow: 0px 1em 4em rgba(0,0,0,1);
    color: #ffffff;
}
form.newQuestionSegment a, form.newQuestionSegment button, form.newQuestionSegment input, form.newQuestionSegment textarea {
    color: #ffffff;
    padding: 1em;
}
form.newQuestionSegment > div.fields {
    grid-area: form;
    overflow: hidden;
    display: grid;
    grid-row-gap: 1em;
}
form.newQuestionSegment > div.fields > fieldset {
    grid-column: 1;
}
form.newQuestionSegment.hidden > div.fields > fieldset {
    opacity: 0;
    grid-row: 1;
}
form.newQuestionSegment > div.fields > fieldset.active {
    opacity: 1;
    z-index: 5;
}
#answers {
    display: grid;
    text-align: center;
    align-items: center;
}
#answers table {
    width: 100%;
}
#answers table tr {
    display: grid;
    grid-template-columns: auto 1fr auto;
    width: 100%;
    margin: 0.5em;
    align-content: center;
    align-items: center;
}
#answers table tr td {
    width: 100%;
}
#answers table tr td input, #answers table tr td textarea {
    width: 100%;
}
#answers legend {
    grid-column: 1 / span 3;
    grid-row: 1;
}
#answers input[type="checkbox"] {
    grid-area: isCorrect;
    grid-column: 1;
    padding: 1em;
    width: 3em;
    height: 3em;
    background-color: rgba(29, 162, 196, 0.795);
    border: inset 3px rgb(14, 66, 97);
}
#answers input[type="text"] {
    grid-area: input;
    grid-column: 2;
}
#answers button.remove-answer {
    grid-area: remove;
    grid-column: 3;
}
#answers > #addAnswer {
    margin: auto;
}
form.newQuestionSegment button {
    background-color: rgba(29, 162, 196, 0.795);
    border: outset 3px rgb(14, 66, 97);
    border-radius: 0.5em;
}
form.newQuestionSegment input, form.newQuestionSegment textarea {
    background-color: rgba(29, 162, 196, 0.795);
    border: inset 3px rgb(14, 66, 97);
    border-radius: 0.5em;
}
form.newQuestionSegment > button[type="submit"] {
    grid-area: btn;
}
form.newQuestionSegment > nav {
    grid-area: nav;
}
form.newQuestionSegment > nav ul {
    list-style-type: none;
    padding: 0;
}
form.newQuestionSegment > nav li {
    padding: 0 1em;
    margin: 1em;
    box-shadow: inset 0px 0px 15px rgb(0, 0, 0);
}
form.newQuestionSegment > nav li a {
    display: block;
    width: 100%;
    height: 100%;
}
form.newQuestionSegment > nav li.active {
    padding:  0 1em;
    margin: 1em;
    background-color: rgba(29, 162, 196, 0.5);
    box-shadow: 0px 0px 0px rgba(29, 162, 196, 0.795);
    margin-left: -4em;
    padding-left: 6em;
}
form.newQuestionSegment input, form.newQuestionSegment textarea {
    width: 100%;
    box-shadow: 0px 0px 1em rgba(29, 162, 196, 0.795);
}
form.newQuestionSegment textarea {
    min-height: 10em;
    width: 100%;
}
form.newQuestionSegment label {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 2px 1em rgba(0,0,0,1);
    padding: 1em 0;
}
form.newQuestionSegment legend {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 2px 1em rgba(0,0,0,1);
    padding: 1em 0;
    text-align: right;
}


/* The container */
/* .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
   */
  /* Hide the browser's default checkbox */
  /* .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  } */
  
  /* Create a custom checkbox */
  /* .checkmark {
    position: absolute;
    border-radius: 0.25em !important;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  } */
  
  /* On mouse-over, add a grey background color */
  /* .container:hover input ~ .checkmark {
    background-color: #ccc;
  } */
  
  /* When the checkbox is checked, add a blue background */
  /* .container input:checked ~ .checkmark {
    background-color: #2196F3;
  } */
  
  /* Create the checkmark/indicator (hidden when not checked) */
  /* .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  } */
  
  /* Show the checkmark when checked */
  /* .container input:checked ~ .checkmark:after {
    display: block;
  } */
  
  /* Style the checkmark/indicator */
  /* .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  } */