:root {
    --menu-main-size:       50px;
    --menu-main-bg-color:   rgba(90, 90, 90, 1);
    --menu-main-icon-size:  48px;
    --status-bar-size:      1rem;
    --status-bar-bg-color:  rgba(0, 140, 255, 1); /* Rehearsals */
    --status-bar-bg-color:  rgba(140, 255, 0, 1); /* Stand-By */
    --status-bar-bg-color:  rgb(221, 51, 51); /* Stand-By */
    --menu-flyout-size:     250px;
    --menu-flyout-bg-color: rgba(70, 70, 70, 1);
    --workspace-bg-color:   rgba(230, 230, 230, 1);
}
@media screen and (max-width:800px) {
    :root {
        --menu-main-icon-size:  48px;
    }
}
@media screen and (max-width:450px) {
    :root {
        --menu-main-icon-size:  36px;
    }
}

@font-face {
    font-family: 'icons';
    src: url('./fonts/nc-demo_mini.eot');
    src: url('./fonts/nc-demo_mini.eot')   format('embedded-opentype'), 
         url('./fonts/nc-demo_mini.woff2') format('woff2'), 
         url('./fonts/nc-demo_mini.woff')  format('woff'), 
         url('./fonts/nc-demo_mini.ttf')   format('truetype'), 
         url('./fonts/nc-demo_mini.svg')   format('svg');
    font-weight: normal;
    font-style:  normal;
}

* {
    box-sizing: border-box;
}
body {
    background-color: aqua;
    height: 100vh;
    width: 100vw;
    margin: auto;
    display: grid;
    grid-template-areas: "h m"
                         "h f";
    grid-template-columns: var( --menu-main-size ) auto;
    grid-template-rows: auto var( --status-bar-size );
}

header.menu-main {
    background-color: var( --menu-main-bg-color );
    grid-area: h;
    box-shadow: 0px 0px 1rem #000;
    z-index: 3;
    height: 100%;
}

.menu-main ul {
    padding: 0.5rem 0;
    margin: 0;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.menu-main ul > * {
    margin-top: 1em;
    display: grid;
    align-items: center;
    justify-items: center;
}
.menu-main ul > :first-child {
    margin-top: 0;
}

.menu-icon {
    box-sizing:      border-box;
    display:         inline-block;
    font-family:     'icons';
    font-variant:    normal;
    font-size:       var(--menu-main-icon-size);
    line-height:     1;
    text-transform:  none;
    margin:          auto;
    width:           var(--menu-main-icon-size);
    height:          var(--menu-main-icon-size);
    background-repeat: no-repeat;
    background-size: var(--menu-main-icon-size);
    background-position-x: 100%;
    text-indent: -1000em;
}

.menu-icon.search {
    background-image: url('../includes/imgs/nucleo-test-pack-48px/zoom-2.svg');
}
.menu-icon.dashboard {
    background-image: url('../includes/imgs/nucleo-test-pack-48px/dashboard-level.svg');
}
.menu-icon.prompter {
    background-image: url('../includes/imgs/nucleo-test-pack-48px/video-66.svg');
}
.menu-icon.scripts {
    background-image: url('../includes/imgs/nucleo-test-pack-48px/single-folded-content.svg');
}
.menu-icon.settings {
    background-image: url('../includes/imgs/nucleo-test-pack-48px/settings-gear-63.svg');
}

main {
    background-color: red;
    grid-area: m;
    display: grid;
    grid-template-areas: "flyout-menu content-area";
    grid-template-columns: var( --menu-flyout-size ) auto;
    grid-template-rows: 1fr;

    overflow-y: hidden;
}

footer.status-bar {
    background-color: var( --status-bar-bg-color );
    grid-area: f;
    display: grid;
    align-items: center;
    /* justify-items: center; */
    z-index: 1;
}

footer.status-bar > * {
    font-size: 0.75em;
    margin: 0;
    padding: 0 1em;
}


main > .menu-flyout {
    background-color: var( --menu-flyout-bg-color );
    grid-area: flyout-menu;
    padding: 1em;
    color: white;
    z-index: 2;
    box-shadow: 0px 0px 1rem #000;
}

main > .workspace {
    background-color: var( --workspace-bg-color );
    grid-area: content-area;
    padding: 1em;

    overflow-y: scroll;
    z-index: 1;
}

@media only screen and (max-width:800px) {

    body {
        grid-template-areas: "h f"
                             "h m";
        grid-template-rows: var( --status-bar-size ) auto;
    }
    main {
        grid-template-areas: "flyout-menu"
                             "content-area";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
}

@media only screen and (max-width:450px) {
    body {
        grid-template-areas: "f"
                             "h"
                             "m";
        grid-template-columns: 1fr;
        grid-template-rows: var( --status-bar-size ) var( --menu-main-size ) auto;
    }
    .menu-main ul {
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 0.5rem;
    }
    .menu-main ul > * {
        margin-top: 0;
        /* margin-right: 1em; */
    }
    .menu-main ul > :first-child {
        margin-top: 0;
        /* margin-right: 0; */
    }
    footer.status-bar {
        z-index: 4;
    }
}